*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img{
  max-width: 100%;
}

.carousel-control-prev, .carousel-control-next{

  background-color: black;
  border-radius: 100%;
  width: 80px;
  height: 80px;
  margin: auto 0px;
}
i{
  font-size: 1.5rem;
}